body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box {
    width: 300px;
    text-align: center;
}

.input-group {
    margin: 15px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 5px 0;
}

button:hover {
    background-color: #0056b3;
}

.additional-links {
    display: flex;
    justify-content: space-between;
}

.additional-links button {
    width: 48%;
    background-color: #ccc;
    color: #000;
}

.additional-links button:hover {
    background-color: #999;
}
